/*
* rules for main / qlist page
*/
.q-container {
    width: auto;
    align-self: center;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto;
    grid-template-areas:
    "btnOne btnTwo"
    "qs qs";
    margin-bottom: 25px;
}

.q-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    grid-area: qs;
    padding: auto;
    margin: 0;
}

.q-card {
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 10px 10px 10px 15px;
    margin: 5px 0 5px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 15px;
}

/*alternate colours for question cards*/
.q-card:nth-child(odd) {
    border: 2px solid #00ffff;
    box-shadow: 2px 2px 6px 1px #00ffff;
}

.q-card:nth-child(odd) .avatar {
    border: 2px solid #ff00b3;
}

.q-card:nth-child(even) {
    border: 2px solid #ff00b3;
    box-shadow: -2px 2px 6px 1px #ff00b3;
}

.q-card section {
    margin-left: 25px;
}

.q-card .avatar {
    align-self: flex-start;
    margin-top: 15px;
}

.btn {
    min-width: 120px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 15px;
    color: #00ffff;
    border: 1px solid #ff00b3;
    font-size: 1em;
}

.btn-active {
    color: #000;
    background-color: #00ffff;
    border-color: #fff;
}

.btn-active:focus {
    outline: none;
}

.to-answer {
    grid-area: btnOne;
}

.answered {
    grid-area: btnTwo;
}

/*media queries for responsive design*/
@media (min-width: 320px) {
    .q-card {
        width: 250px;
    }
}

@media (min-width: 340px) {
    .q-card {
        width: 300px;
    }
}

@media (min-width: 900px) {
    .q-container {
        margin: 0 50px;
    }

    .q-list {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

    .q-card {
        width: auto;
        margin: 0;
    }

    .q-card p {
        max-height: 20px;
        overflow: hidden;
    }

    .q-card:nth-child(odd) {
        box-shadow: 0 2px 6px 1px #00ffff;
    }
    
    .q-card:nth-child(even) {
        box-shadow: 0 2px 6px 1px #ff00b3;
    }
}