.form-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newq-form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.option-text {
    margin-bottom: 15px;
    text-align: center;
    resize: none;
    font-family: 'Fredoka One', cursive;
    padding-top: 15px;
    line-height: 15px;
}

.submit-btn {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}