.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newq-form {
    display: flex;
    flex-direction: column;
}

.option-text {
    margin-bottom: 15px;
    text-align: center;
    text-justify: auto;
}

.submit-btn {
    font-weight: bold;
}