/*
* rules for question page component
*/
.qpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.qpage-container h1 {
    font-size: 1.8em;
}

.qpage-container .avatar {
    width: 90px;
    height: 90px;
    margin-top: 25px;
}

.options-container {
    display: flex;
    flex-direction: column;
}

.option-box {
    border: 2px solid #00ffff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 25px;
    cursor: pointer;
    width: auto;
    text-align: center;
    box-shadow: 2px 2px 6px 1px #00ffff;
    max-width: 220px;
}

.option-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.option-title {
    font-size: 1.3em;
    z-index: 0;
}

.stats-numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.stats-numbers p:first-child {
    margin-right: 10px;
}

.option-stats p {
    margin: 0;
}

/*trnsitions in the colour change when user selects option*/
.selected-option {
    position: relative;
    background-color: #ff00b3;
    color: #000;
    box-shadow: none;
    border-color: #000;
    transition-property: background-color, color, border-color;
    transition: 0.5s ease-out;
}

/*tick image that shows which option the user selected*/
.selected-option .choice-badge {
    width: 30px;
    height: 30px;
    animation: bounce-in 0.5s ease-in;
}
 /*animation for selection tick / badge*/
@keyframes bounce-in {
    0% {
        transform: scale(0)
    }
    70% {
        transform: scale(1.4)
    }
    100% {
        transform: scale(1)
    }
}

.choice-badge {
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    right: -10px;
}

.no-click {
    pointer-events: none;
}

/*media queries for responsive design*/
@media (min-width: 320px) {
    .option-box {
        max-width: 250px;
    }

    .qpage-container h1 {
        font-size: 2em;
    }
}

@media (min-width: 340px) {
    .option-box {
        max-width: 280px;
    }
}

@media (min-width: 640px) {
    .option-box {
        max-width: 450px;
    }
}

@media (min-width: 768px) {
    .option-box {
        max-width: 650px;
    }
}