.qpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qpage-container .avatar {
    width: 90px;
    height: 90px;
    margin-top: 25px;
}

.options-container {
    display: flex;
    flex-direction: column;
}

.option-box {
    border: 2px solid #00ffff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    width: auto;
    text-align: center;
    box-shadow: 2px 2px 6px 1px #00ffff;
}

.option-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.option-title {
    font-size: 1.3em;
    z-index: 0;
}

.stats-numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.stats-numbers p:first-child {
    margin-right: 10px;
}

.option-stats p {
    margin: 0;
}

.selected-option {
    position: relative;
    background-color: #ff00b3;
    color: #000;
    box-shadow: none;
    border-color: #000;
    transition-property: background-color, color, border-color;
    transition: 1s ease-out;
}

.selected-option .choice-badge {
    display: block;
}

.choice-badge {
    position: absolute;
    color: #fff;
    display: none;
    width: 30px;
    height: 30px;
    top: -10px;
    right: -10px;
}

.no-click {
    pointer-events: none;
}